body {
    font-family: arial, sans-serif;
}

header {
    font-family: arial, sans-serif;
    background-image: url(images/bgputih.png);
    background-size: cover;
    height: 200px;
    margin-bottom: 0;
}

.td1 {
    width: 800px;
}

.td2 {
    width: 50%;
    text-align: center;
}

.td3 {
    width: 800px;
    text-align: right;
}

.img1 {
    width: 150px;
    border-radius: 50px;
}

.img2 {
    width: 150px;
    border-radius: 50px;
}

.ha1 {
    text-align:center;
    font-weight: bold;
    margin-bottom: 0;
    color:  #3a3b3c;
}

.p1 {
    text-align: center;
    font-weight: bold;
    color: #3a3b3c;
}

nav{
    margin-top: 0;
    width: 100%;
    background-color: #3a3b3c;
    border-top-color: #222324;
    border-top-style: solid;
    height: 50px;
}

@media screen and (max-width:500px){
    .tb-header {
        padding: 30px 10px;
    }
    .td1 {
        width: 20px;
    }
    .img1 {
        width: 100px;
    }
    .ha1 {
        font-size: 26px;
    }
    .img2 {
        width: 100px;
    }
    nav {
        background-color: #3a3b3c;
    }
    nav li {
        font-size: 10px;
    }
    nav ul a {
        text-align: center;
        font-size: 10px;
        margin: 0;
        margin-left: 0;

    }

    div .zaidan {
        width: 250px;
        height: 230px;
    }

    label .p3 {
        font-size: 15px;
    }

    div .main1 {
        height:600px;
    }

    div .page-organ {
        height: 700px;
    }
    div .bembg {
        font-size: 9px;
    }
    
    div .ukmbg {
        font-size: 9px;
    }

    div .lpmbg {
        font-size: 9px;
    }

    div .yellow {
        margin-left: 0;
        width: 120px;
        height: 300px;
        padding: 0;
        font-size: 12px;
    }
    div .green {
        margin-left: 0;
        width: 120px;
        height: 300px;
        padding: 0;
        font-size: 12px;
    }
    div .red {
        margin-left: 0;
        width: 120px;
        height: 300px;
        padding: 0;
        font-size: 12px;
    }

    .p5 {
        padding: 0;
    }
    .baris6 {
        height:700px ;
    }

    div .field-link {
        width: 400px;
        margin-left: 0;
    }
    div .field-link3 {
        width: 400px;
        margin-left: 0;
    }

    form .field-form {
        min-width:400px;
        height: 850px;
        margin-left: 0;
    }
    div .user1 {
        font-style: italic;
        font-size: 15px;
    }
    
    div .ha4 {
        font-size: 20px;
    }
    div .size {
        width: 10%;
        padding:0;
    }
    td input[type="text"]{
        border-radius: none;
        width: 200px;
    }

    td input[type="email"]{
        border-radius: none;
        width: 200px;
    }

    td textarea {
        width: 200px;
    }

    div .img-foot{
        width: 130px;
    }
}

@media screen and (max-width:1126px) {
    nav li  {
        font-size: 10px;
    }
    nav ul a {
        margin: 0;
    }
    div .main1 {
        height:600px;
    }
    label .p3 {
        font-size: 15px;
    }
    div .bembg {
        font-size: 9px;
    }
    
    div .ukmbg {
        font-size: 9px;
    }

    div .lpmbg {
        font-size: 9px;
    }

    div .yellow {
        margin-left: 0;
        width: 120px;
        padding: 0;
        height: 300px;
        font-size: 12px;
    }
    div .green {
        margin-left: 0;
        width: 120px;
        padding: 0;
        height: 300px;
        font-size: 12px;
    }
    div .red {
        margin-left: 0;
        width: 120px;
        padding: 0;
        height: 300px;
        font-size: 12px;
    }
    .baris6 {
        height:700px ;
    }

    div .field-link {
        width: 400px;
    }
    div .field-link3 {
        width: 400px;
    }
}
nav ul {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    text-align: center;
    margin: auto;
}

nav a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-left: 50px;
    line-height: 30px;
    padding-top: 20px;
    width: 100px;
    margin-right: 100px;
}


nav li {
    text-align: center;
    display: inline;
    color: white;
}

#list3 {
    color: white;
}
.home {
    padding: 16px 16px 14px 17px;
    color: white;
}

.about {
    padding: 16px 16px 14px 17px;
    color: white;
}

.cata {
    padding: 16px 16px 14px 17px;
    color: white;
}

.conta {
    padding: 16px 16px 14px 17px;
    color: white;
}

nav ul li a:hover{
    color: #fcb900;
    width: 100px;
    border-bottom-style: solid;
    border-bottom-color: #fcb900;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    min-height: 50vh;
    padding:5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-bottom: 0;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background:rgba(255,255, 255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    margin-bottom: 0;
}

.search-bar input {
    background: transparent;
    flex:1;
    border: 0;
    outline: none;
    padding: 2px 2px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color: black;
}

.search-bar button img {
    width: 25px;
}
.search-bar button {
    border: 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}

.baris3 {
    margin-top: 0;
    background-image:linear-gradient(rgba(0,8,51,0.6),rgba(0,8,51,0.6)),url(images/background2.jpg);
    height: 400px;
}

.organ{
    text-align: center;
    background-color: black;
    height: 100px;
    color: white;
    padding-top: 20px;
    text-decoration: underline white;
}

.page-organ {
    background-color: #222324;
    height: 500px;
}

.bembg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(images/bem.jpg);
}

.ukmbg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(images/ukm.jpg);
}

.lpmbg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(images/pers.jpg);
    background-position: center;
    height: 200px;
}
.bem {
    text-decoration: underline white;
    color: white;
    padding: 10px;
    margin-left: 20px;
}

.bem-p {
    color: white;
    padding:10px;
    margin-left: 20px;
    text-align: justify;
}

.ukm {
    text-decoration: underline white;
    color: white;
    padding: 10px;
    margin-left: 20px;
}

.ukm-p {
    color: white;
    padding:10px;
    margin-left: 20px;
    text-align: justify;
}

.lpm {
    text-decoration: underline white;
    color: white;
    padding: 10px;
    margin-left: 20px;
}

.lpm-p {
    color: white;
    padding:10px;
    margin-left: 20px;
    text-align: justify;
}

.ha2 {
    font-family: serif;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.main1 {
    background-color: #27282a;
    background-position: center;
    background-size: cover;
    margin-top: 0;
    height: 500px;
}

fieldset {
    margin-top: 20px;
    width: 50%;
    text-align: center;
    border-radius: 50px;
    margin-left: 40px;
}

.p2 {
    padding: 10px;
    text-align:center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p3 {
    margin-top: 130px;
    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 2px;
    padding: 10px ;
    text-align:center;
    margin-left: 20px;
    margin-right: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p4 {
    padding: 10px;
    text-align:center;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.zaidan {
    margin:65px 80px 0 0;
    float: right;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}


.ha3 {
    margin-top: 20px;
    color: black;
    text-align:center;
    font-style: italic;
    
}

.baris4 {
    background-image: url(images/beige.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}

.yellow {
    background-color: #444b58;
    width: 250px;
    height: 350px;
    margin: 10px;
    margin-left: 150px;
    float: left;
    border-radius: 10px;
    border: 1px solid black;
}

.red {
    background-color: #536992;
    width: 250px;
    height: 350px;
    margin: 10px;
    border-radius: 10px;
    float: left;
    border: 1px solid black;
}

.green {
    background-color: #605bbd;
    width: 250px;
    height: 350px;
    margin: 10px;
    border-radius: 10px;
    float: left;
    border: 1px solid black;
}


.main2 {
    width: 1100px;
    margin:auto;
}

div ul {
    margin:40px 10px 40px 20px;
    font-style: italic;
    color: #c7c7c7;
}


.p5 {
    color:#c7c7c7;
    font-style: italic;
    text-align: center;
}

.main3 {
    border: 1px;
}

.baris5 {
    height: 500px;
    width: 100%;
}
.user1 {
    font-style: italic;
}

input[type="text"]
{
    padding: 5px;
    width: 100%;
    border-color: blue;
    border-radius: 50px;
}

input:hover {
    border-color: red;
    color: red;
}

input[type="radio"]
{
    accent-color: blue;
}

input[type="email"]
{
    padding: 5px;
    border: none;
    width: 100%;
    border-radius: 50px;
}

textarea {
    height: 70px;
    width: 300px;
    padding: 5px;
    border-color: blue;
    border-radius: 10px;
    width: 100%;
}

textarea:hover {
    color: red;
    border-color: red;
}

.baris5 {
    margin: 0;
    background-image: url(images/beige.jpg);
    background-position: center;
    background-size: cover;
    height: 1000px;
}

.field-form {
    border: 3px solid silver;
    background-color: rgb(245, 241, 241);
    border-radius:20px;
    margin: auto;
}

.p6 {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

.tabel1 {
    text-align: left;
    margin-left: 10px;
    width: 90%;
}

.tabel1 td {
    padding:10px;
}

.ha4 {
    font-style: italic;
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
}

.submit-form {
    width: 50%;
    border-radius: 20px;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 6px;
    font-style: italic;
    border: #58629b;
    background-color: greenyellow;
}

.baris6 {
    height: 450px;
}

.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    }

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.field-main {
    width: 100%;
}

.field-link {
    border-radius: 30px;
    margin-left: 25px;
    display: inline;
    background-color: white ;
    margin-right: 15%;
    margin-top: 0;
    margin-bottom: 10px;
    width: 40%;
    height: 200px;
}


#audio1 {
    margin-left: 0;
    border-radius: 0;
    color: red;
}

.field-link3 {
    background-color: white;
    border-radius: 0;
    margin-left: 25px;
    margin-right: 15%;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    height: 300px;
}

.bgUT {
    width: 550px;
    float: right;
}
#soal {
    display: block;
    margin: 10px 15px;
    text-align: left;
}

.baris6 {
    height: 700px;
    background-image: url(images/beige.jpg);
    background-position: center;
    background-size: cover;
}


#utbk {
    margin-top:10px;
    margin-bottom: 15px;
    text-align: center;
}

.baris7 {
    height: 100px;
    width: 100%;
}

footer {
    background-color: #27282a;
    margin-top: 0;
    margin-bottom: 20px;
    border-top-style: solid;
    border-top-color: orange;
    height: 260px;
}

footer ul {
    color: rgb(133, 124, 124);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    font-style: normal;
   
}


.img-foot {
    width: 20%;
    height: 220px;
    float: right;
    border-radius: 20px solid white;
    text-align: center;
    
}

footer li {
    margin-left: 5px;
    padding: 5px;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
    text-align: left;
    list-style-type: none;
}
#ig {
    width: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 15px;
    color: white;
    border-radius:2px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 )
}

#twitter {
    width: 18px;
    margin-left: 4px;
    border: 40px;
    color: rgb(0, 183, 255);
}

#Fb {
    color: white;
    margin-left: 3px;
    background-color:  #3b5998;
    border-radius: 40px;
}

#WhatsApp {
    color: white;
    margin-left: 7px;
    background-color: #25d366;
    border-radius: 20px;
}

#Youtube {
    color: red;
    margin-left: 6px;
    background-color: white;
    border-radius: 2px;
}
section {
    background-color: #222324;
    margin: 0;
    height: 100px;
    border-top-color: #3a3b3c;
    border-top-style: solid;
}

.p7 {
    color: rgb(133, 124, 124);
    padding: 40px;
    margin: auto;
    font-family: roboto, sans-serif;
    text-align: center;
}

select {
    border-radius: 20px;
}
